.random-letter {
  position: absolute;
  /* font-size: 20px; */
  font-weight: 700;
  color: #cdccccb5; /* Цвет букв */
  pointer-events: none; /* Позволяет событиям проходить сквозь буквы */
  animation: moveRandom 20s linear; /* Анимация перемещения */
}

@keyframes moveRandom {
  from {
    transform: translate(0, 0);
  }
  /* 50% {
    transform: rotate(50deg) translateY(50vh);
  } */
  to {
    transform: translateY(100vh); /* Меняйте значения для создания разнообразной анимации */
  }
}
